/vendor/
/node_modules/
/.env
/.env.*
!.env.example

/public/build/
/public/hot

/storage/*.key
/storage/framework/
/storage/logs/
/storage/app/
/storage/debugbar/

.phpunit.result.cache
Homestead.json
Homestead.yaml

/.idea
/.vscode

.DS_Store
Thumbs.db